.navbar-editor-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.profile {
    width: 30%;
    height: 100%;
    color: white;
    font-size: xx-large;
}

.list-conatiner {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.list-element {
    color: white;
    border: 0.1rem solid white;
    list-style: none;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 5%;
    height: 100%;
    text-align: center;
}

.login {
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.list-parrent {
    width: 65%;
    cursor: pointer;
}

.burger-menu {
    display: none;
    font-size: xx-large;
    color: white;
}

@media screen and (max-width: 960px) {
    .list-conatiner {
        flex-direction: column;
        position: absolute;
        left: -100%;
        width: 100%;
        top: 160px;
        background: repeating-linear-gradient(315deg,
                rgb(66 143 149),
                rgb(66 143 149) 70px,
                rgb(197 197 201) 70px,
                rgb(197 197 201) 168px);
    }

    .list-element {
        height: 10%;
        width: 100%;
    }

    .burger-menu {
        display: block;
    }

    .list-parrent {
        text-align: end;
        padding-right: 2rem;
    }
}

.PostCreator-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
    justify-content: center;
}

.PostCreator-title {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;

}

.PostCreator-description {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;

}

.description {
    max-width: 100%;
    min-width: 100%;
    min-height: 6rem;
    max-height: 6rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background: repeating-linear-gradient(315deg,
            rgb(66 143 149),
            rgb(66 143 149) 70px,
            rgb(197 197 201) 70px,
            rgb(197 197 201) 168px);
}

.description::placeholder {
    color: black;
}

.title-input {
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: none;
    background: repeating-linear-gradient(315deg,
            rgb(66 143 149),
            rgb(66 143 149) 70px,
            rgb(197 197 201) 70px,
            rgb(197 197 201) 168px);
}

.title-input::placeholder {
    color: black;
}

.radio-buttons {
    width: 130%;
}

.veja-input {
    margin-left: 0.5rem;
}

.veja-text {
    color: white;
    font-size: large;
}

.veja-input:checked {
    background-color: rgb(66 143 149);
}

.post-submit {

    width: 40%;
    padding: 1rem;
    margin: 1rem;
    margin-left: 30%;
    border-radius: 0.5rem;
    border: none;
    background: repeating-linear-gradient(315deg,
            rgb(66 143 149),
            rgb(66 143 149) 70px,
            rgb(197 197 201) 70px,
            rgb(197 197 201) 168px);
    font-size: x-large;
    cursor: pointer;

}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.voditelj-config {
    width: 100%;
}

.list-conatiner-voditelji {
    width: 20%;
    padding: 1rem;

}

.list-element-voditelji {
    width: 100%;
    color: white;
    font-size: x-large;
    cursor: pointer;
    padding: 0.5rem;
    border: 0.1rem solid white;
}

.voditelji-list {
    list-style: none;
    width: 100%;
    padding: 0 30%;
}

.voditelj-editor-forum {
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .voditelj-config {
        width: 100%;
    }

    .voditelji-list {
        width: 100%;
    }

    .voditelj-editor-forum {
        width: 100%;
    }
}

.submit-buttons {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.edit-button {
    margin: 1rem;
    width: 20%;
    padding: 0.5rem;
    font-size: x-large;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.edit {
    background-color: #ffc800;
}

.remove {
    background-color: #ff2a2a;
}

.add {
    background-color: #16ff16;
}

.sort-text {
    color: azure;
    font-size: x-large;
    margin-bottom: 0.5rem;
}

.fileselector {
    cursor: pointer;
}

.list-submitt {
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
    height: 2rem;
    cursor: pointer;
}

.HeroSection-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}